body{
    background-image: url(../images/paper_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form{
    margin-left: 40%;
}

#complete_items, #incomplete_items{
    margin-left: 30%;
    width: 50%;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

h1, h2{
    margin-left: 40%;
    font-family: 'Dancing Script', cursive;
    padding-left: 3em;
    text-decoration: underline;
}

h2{
    padding-left: 4em;
}

label{
    font-weight: bolder;
}

input[type=button]{
    border-radius: 20em;
}

#due_date{
    margin-left: 14px;
}

#is_complete{
    margin-left: 14px;
}

#add_item{
    margin-left: 6em;
}

.toDo{
    box-sizing: border-box;
    padding: .25em;
    width: 20%;
    margin: 0px;
    background-color: lightgray;
    border-radius: 1em;
    /* forces word wrap to break one large word */
    word-wrap: break-word;
    cursor: pointer;
}

.toDo h3{
    margin: 2px;
}

.toDo p{
    margin: 2px;
}

.complete{
    background-image: url(../images/check.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* fix formatting when smaller and for small devices */
@media only screen and (max-width: 700px) {
    form{
    margin-left: 20%;
    }

    h1, h2{
        margin-left: 20%;
        padding-left: 3em;
    }

    #complete_items, #incomplete_items{
        margin-left: 25%;
    }
}
